$border-color: rgb(217, 217, 217);
$border-top-color: rgb(191, 191, 191);
$border-top-color-selected: rgb(153, 153, 153);
$placeholder-color: #9c9c9c;

$red: rgb(224, 16, 39);
$blue: rgb(85, 154, 216);
$orange: rgb(244, 155, 39);
$grey: rgb(128,128,128);

$disabled-background-color: rgb(241, 241, 241);

$tooltip-background-color: rgb(92, 92, 92);