@import "variables";

.autocomplete-dropdown{
  position: absolute;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16);
  background: #fff;

  color: #404040;
  line-height: 20px;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow-y: auto;
  box-sizing: border-box;


  ul{
    width: 300px;
    max-height: 450px;
    padding: 0 0 5px 0;
    text-align: left;
    list-style-type: none;
    margin: 0;
  }

  div{
    color: $grey;
    padding: 5px;
  }

  li{
    padding: 5px;
    &:hover, &.active{
      background: $blue;
      color: #fff;
    }
  }
}



