@import "variables";

.autocomplete-dropdown{
  position: absolute;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16);
  padding-bottom: 5px;

  color: #404040;
  line-height: 20px;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;

  ul{
    width: 300px;
    //min-height: 200px;
    //max-height: 450px;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    text-align: left;
    list-style-type: none;
    margin: 0;
    &.el{
      display: block;
      &.active{
        background: $blue;
      }
    }
  }


  li{
    padding: 5px;
    &:hover{
      background: $blue;
      color: #fff;
    }
  }
}



