@import "_variables";

.loader span {
  color: $grey;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.loader path {
  fill: none;
  stroke-linecap: round;
}

.loader .circle {
  fill: none;
  stroke: $grey;
  stroke-width: 1.5px;
  stroke-dasharray: 10, 27;
  stroke-dashoffset: -37;
  animation: circle_offset 1s cubic-bezier(.50, .20, .50, .80) infinite,
  circle_length 2s cubic-bezier(.36, .14, .38, .69) infinite,
  rotate 2s linear infinite;
  position: relative;
  top: 1px;
}

@keyframes circle_offset{
  0% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -37; }
}
@keyframes circle_length{
  0%{ stroke-dasharray: 10,27; }
  50%{ stroke-dasharray: 30,7; }
  100%{ stroke-dasharray: 10,27; }
}
@keyframes rotate{
  100%{ transform: rotate(360deg); }
}